body {
    font-family: Arial, sans-serif;
    background-image: url(imagenes/playa.png);
    backdrop-filter: blur(4px);
}

.hero-principal {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.hero-principal h1 {
    font-size: 2.5rem;
}

.hero-principal p {
    font-size: 1.2rem;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}